.panda-anda-bg-info{
   
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);

    padding: 9px 40px;
    border-radius: 10px;
}
.panda-anda-background-info{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
